/* Add CSS styling here */
header {
    background: lightgrey;
  }
  h1, h2, h3 {
    color: purple;
  }
  a {
    padding: .5rem;
    color: purple;
  }
  
  div {
    display: flex;
  }
  .lead {
    flex-direction: row;
    padding: 2rem;
    text-align: center;
  }
  
  p {
    padding: 7.5rem;
  }
  
  img {
    padding: 1rem;
  }
  
  section {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  footer {
    background: lightgrey;
    text-align: center;
    padding: .5rem;
  }
  
  img:hover {
    box-shadow: .5rem .5rem;
    background: purple;
  }
  
  a:hover {
    background: grey;
    color: black;
  }
  @media(max-width: 800px) {
    div {
      display: flex;
      flex-direction: column;
    }
  }
  @media(max-width: 500px) {
    section {
      align-content: center;
    }
  }